<a href="https://colab.research.google.com/github/tulsip03/ds2002/blob/main/MongoLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
#!pip install pymongo
import os
import datetime
import pymongo
import pprint
import pandas as pd

Exercise 1

In [44]:
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

In [45]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

In [46]:
client.list_database_names()

['AlbertHuang_class',
 'AlyssaRask_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JThompson_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'JoeThompson_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'RainaVardhanapu_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anishaponugupati_class',
 'anne_class',
 'api_project',
 'blog',
 'chasemullard_class',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'rushvi_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'tulsi_class',
 'admin',
 'local']

Exercise 2

In [47]:
db_name = "tulsi_class"

db = client[db_name]
db.list_collection_names()

['students', 'Students']

Exercise 3

In [48]:
student = {"First name:": "John",
        "Last name:": "Doe",
            "Birthday:": "07/07/2002",
            "Grad Year:": "2024",
            "Major:": "biology"}

students = db.students
student_id = students.insert_one(student).inserted_id

print("Document ID: ", student_id)

Document ID:  663148bffb98b9830b6d763e

In [49]:
new_students = [{"First name:": "Jane",
        "Last name:": "Doe",
            "Birthday:": "03/06/2001",
            "Grad Year:": "2025",
            "Major:": "psychology"},{"First name:": "Thomas",
        "Last name:": "Jefferson",
            "Birthday": "02/22/1999",
            "Grad Year:": "2032",
            "Major:": "history"}, {"First name:": "Albert",
        "Last name:": "Einstien",
            "Date of Birth": "08/14/2000",
            "Grad Year:": "2025",
            "Major:": "physics"}]

new_student_id = students.insert_many(new_students)

Exercise 4

In [50]:
for student in students.find():
    pprint.pprint(student)

{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('6631451bfb98b9830b6d7633')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'Physics',
 '_id': ObjectId('6631451bfb98b9830b6d7634')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'biology',
 '_id': ObjectId('663146a6fb98b9830b6d7636')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663146a6fb98b9830b6d7638')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663146a6fb98b9830b6d7639')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('66314796fb98b9830b6d763b')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'biology',
 '_id': ObjectId('663148bffb98b9830b6d763e')}
{'Birthday:': '03/06/2001',
 'First name:': 'Jane',
 'Grad Year:': '2025',
 'Last name:': 'Doe',
 'Major:': 'psychology',
 '_id': ObjectId('663148bffb98b9830b6d763f')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663148bffb98b9830b6d7640')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2025',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663148bffb98b9830b6d7641')}

In [51]:
for student in students.find({'First name:': 'Thomas'} ):
    pprint.pprint(student)

{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('6631451bfb98b9830b6d7633')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663146a6fb98b9830b6d7638')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('66314796fb98b9830b6d763b')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663148bffb98b9830b6d7640')}


Exercise 5

In [52]:
students.update_one({'First name:': 'John'}, {'$set':{'Major:': 'commerce'}})
for Student in students.find():
    pprint.pprint(Student)

{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('6631451bfb98b9830b6d7633')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'Physics',
 '_id': ObjectId('6631451bfb98b9830b6d7634')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'commerce',
 '_id': ObjectId('663146a6fb98b9830b6d7636')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663146a6fb98b9830b6d7638')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663146a6fb98b9830b6d7639')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('66314796fb98b9830b6d763b')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'biology',
 '_id': ObjectId('663148bffb98b9830b6d763e')}
{'Birthday:': '03/06/2001',
 'First name:': 'Jane',
 'Grad Year:': '2025',
 'Last name:': 'Doe',
 'Major:': 'psychology',
 '_id': ObjectId('663148bffb98b9830b6d763f')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663148bffb98b9830b6d7640')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2025',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663148bffb98b9830b6d7641')}

In [53]:
students.update_many({'Grad Year:': '2025'}, {'$set': {'Grad Year:': '2027'}})
for student in students.find():
    pprint.pprint(student)

{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('6631451bfb98b9830b6d7633')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'Physics',
 '_id': ObjectId('6631451bfb98b9830b6d7634')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'commerce',
 '_id': ObjectId('663146a6fb98b9830b6d7636')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663146a6fb98b9830b6d7638')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663146a6fb98b9830b6d7639')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('66314796fb98b9830b6d763b')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'biology',
 '_id': ObjectId('663148bffb98b9830b6d763e')}
{'Birthday:': '03/06/2001',
 'First name:': 'Jane',
 'Grad Year:': '2027',
 'Last name:': 'Doe',
 'Major:': 'psychology',
 '_id': ObjectId('663148bffb98b9830b6d763f')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663148bffb98b9830b6d7640')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2027',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663148bffb98b9830b6d7641')}

Exercise 6

In [54]:
students.delete_one({'First name:': 'John'})
for student in students.find():
    pprint.pprint(student)

{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('6631451bfb98b9830b6d7633')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'Physics',
 '_id': ObjectId('6631451bfb98b9830b6d7634')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663146a6fb98b9830b6d7638')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663146a6fb98b9830b6d7639')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('66314796fb98b9830b6d763b')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'biology',
 '_id': ObjectId('663148bffb98b9830b6d763e')}
{'Birthday:': '03/06/2001',
 'First name:': 'Jane',
 'Grad Year:': '2027',
 'Last name:': 'Doe',
 'Major:': 'psychology',
 '_id': ObjectId('663148bffb98b9830b6d763f')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663148bffb98b9830b6d7640')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2027',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663148bffb98b9830b6d7641')}

In [55]:
students.delete_many({'Grad Year:': '2027'})
for student in students.find():
    pprint.pprint(student)

{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('6631451bfb98b9830b6d7633')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'Physics',
 '_id': ObjectId('6631451bfb98b9830b6d7634')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663146a6fb98b9830b6d7638')}
{'Date of Birth': '08/14/2000',
 'First name:': 'Albert',
 'Grad Year:': '2026',
 'Last name:': 'Einstien',
 'Major:': 'physics',
 '_id': ObjectId('663146a6fb98b9830b6d7639')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('66314796fb98b9830b6d763b')}
{'Birthday:': '07/07/2002',
 'First name:': 'John',
 'Grad Year:': '2024',
 'Last name:': 'Doe',
 'Major:': 'biology',
 '_id': ObjectId('663148bffb98b9830b6d763e')}
{'Birthday': '02/22/1999',
 'First name:': 'Thomas',
 'Grad Year:': '2032',
 'Last name:': 'Jefferson',
 'Major:': 'history',
 '_id': ObjectId('663148bffb98b9830b6d7640')}